extends ../../layouts/layout.pug 

block content
    div.d-grid.gap-3.d-md-flex
        .h2 All Scheduled Messages
        a.btn.btn-success.mr-2(href='/create-message', role='button') Create New Message
    table.table.table-striped.table-bordered
        thead
            tr
                th(scope='col') Message
                th(scope='col') Hour
                th(scope='col') Minute
                th(scope='col') Date
        tbody
            each message of data
                tr
                    td= message[1].content
                    td= message[3]
                    td= message[4]
                    td= message[2]
                    td
                        //button.btn.btn-primary(type='button') Edit
                        //The correspodning message is stored as the id for each delete button
                        button.btn.btn-danger(type='button', onclick='showDeleteModal(this)', id=message[0]) Delete

block modalContent
    #deleteModal.modal.fade(tabindex='-1', aria-labelledby='deleteModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#removeConfirmationModalLabel.modal-title Are you sure you want to remove this item?
                    button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input(type='hidden', id='messageToDelete')
                    p This action cannot be undone.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button', onclick='confirmDelete()') Delete
block scripts
    script.
        function showDeleteModal(button) {
            document.getElementById('messageToDelete').value = button.id;

            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'), {});
            deleteModal.show();
        }

        function confirmDelete() {
            var messageID = document.getElementById('messageToDelete').value;
            console.log(messageID);

            var deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
            deleteModal.hide();

            fetch('/message-list/' + messageID, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).finally(() => {
                window.location.reload();
            });
        }